<!-- terms-conditions.component.html -->
<div class="scroll-container" #scrollContainer>
    <section class="page page1" #page>
  
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-5 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Voorwaarden</h1>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 ">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <img class="lg:h-52 md:h-48 w-full object-cover object-center" src="assets/images/IMG_7978.jpg"
                  alt="blog">
                <div class="p-6">
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Eindelijk!</h1>
                  <p class="leading-relaxed mb-3">Jullie kunnen bier kopen! Onze enige echte gloednieuwe alderjekeslekkere "Good morning uut 'nHam!"
                    Lees wel even snel de spelregels, </p>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Betalen</h1>
                    <p class="leading-relaxed mb-3">Allereerst mogen wij jou alleen bier verkopen als je 18 jaar bent! Geen 18, geen bier! Wij controleren leeftijd bij het afhalen.

                        Als je je bestelling hebt geplaatst krijg je een bevestigingsmail met een overzicht met wat je hebt besteld in de mail. Deze mail is meteen je bestelbewijs, neem hem dus mee!
                        
                        Betalen doe je bij afhalen. Het is dan mogelijk om op locatie een Tikkie te voldoen of gepast contant te betalen. We hebben geen wisselgeld. </p>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Afhalen</h1>
                    <p class="leading-relaxed mb-3">Het is alleen mogelijk om het bier af te halen tijdens onze launch party:

                        Locatie: Spechtstraat 40, Goor
                        Datum: Zaterdag 7 september van 13:00 tot 16:00
                        
                        Daarna komt het bier bij geselecteerde verkooppunten in het schap te liggen!
                        
                        Om deze wedstrijd te winnen moeten wij zoveel mogelijk omzet maken. Wij kunnen hierdoor helaas niet verzenden. Dit zou te veel kosten.
                        
                        Wanneer het bier op de markt komt is het ook te koop via de webshop van Berghoeve brouwerij. Wil je het echt graag verstuurd hebben, dan kun je het bier daar bestellen vanaf de lanceerdatum, 7 september 2024. (Tip! Combineer hier je Goorse Jongens bestelling met andere heerlijke Berghoeve bieren!)</p>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2 pl-4">Scroll voor meer!</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="page page2" #page>
  
        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
              <div class="p-4 ">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                  <img class="lg:h-52 md:h-48 w-full object-cover object-center" src="assets/images/IMG_7978.jpg"
                    alt="blog">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Merchandise!</h1>
                    <p class="leading-relaxed mb-3">Een deel van de omzet van deze mooie brouwwedstrijd wordt geschonken aan een door ons gekozen goed doel. Wij strijden voor Stichting Haarwensen. Zij maken haarwerken voor kinderen die hun eigen haar door ziekte of behandeling zijn verloren. Wat een toppers!

                        Maar wist jij dat 1 haarstukje €1.500 kost om te maken???
                        
                        Dus naast dat er een heldin of held zijn lange lokken moet schenken, kost het ook nog veel poen om te maken!
                        
                        Als we winnen kunnen we een mooi bedrag verdienen voor Stichting Haarwensen. Dat is gaaf, maar niet genoeg! Het zou ons nog veel mooier lijken als we zo dicht mogelijk in de buurt komen van die €1500.
                        
                        Daarom verkopen wij ook merchandise! De volledige opbrengst van de merchandise gaat als extra donatie naar stichting haarwensen, ongeacht of we winnen!
                        
                        Daarnaast is het mogelijk om bij je bestelling een vrijwillige gift in te vullen. En we geven alle vrijwillige gevers die dat willen een eervolle heldenvermelding op onze socials!
                        
                        En wees nou eerlijk, wie wil er nou geen unieke Goorse Jongens swag. Alleen hier en nu verkrijgbaar! </p>
                      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section class="page page3" #page>
  
        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
              <div class="p-4 ">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                  <img class="lg:h-52 md:h-48 w-full object-cover object-center" src="assets/images/IMG_7978.jpg"
                    alt="blog">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Privacy!</h1>
                    <p class="leading-relaxed mb-3">We vragen je ook om je e-mail adres. 
                        Deze hebben wij alleen nodig om jou op de hoogte te houden over over onze avonturen in de Berghoeve Brouwers Challenge! 
                        Wij beloven plechtig dat wij deze gegevens nergens anders voor zullen gebruiken, niet zullen verstrekken aan derden en na deze eenmalige actie meteen zullen verwijderen.
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="flex flex-wrap -m-4">
            <div class="p-4 w-full">
              <div class="h-full rounded-lg overflow-hidden">
                <button class="signup-button"
                (click)="closeTab()">
                  Duidelijk, Sluit deze tab om terug te gaan naar de shop!
                </button>                
              </div>
            </div>
            </div>
        </section>
      </section>
    
</div>
<div class="flex justify-center mb-10 nav-container ">
    <div *ngIf="(!isAtLastPage && !isAtBottom)"
      class="nav-button blob"(click)="navigateTo('next')">
      <i class="pi pi-angle-double-down" ></i>
    </div>
    <div *ngIf="false"
      class="nav-button blob" (click)="navigateTo('prev')">
      <i class="pi pi-angle-double-up" ></i>
    </div>
    <div class="flex items-center flex-wrap " *ngIf="isAtLastPage || isAtBottom">
      <div
        class="nav-button blob" (click)="navigateTo('start')">
        <i class="pi pi-angle-double-up" ></i>
      </div>
    </div>