@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ffffff, hsl(0, 0%, 100%), #FFE97F, #f1da8c);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }