<!-- app.component.html -->
<div class="scroll-container" #scrollContainer>
  <section class="page page1" #page>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-5 flex-col items-center text-center">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Wie zijn de Goorse Jongens?</h1>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 ">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <img class="lg:h-52 md:h-48 w-full object-cover object-center" src="assets/images/IMG_7978.jpg"
                alt="blog">
              <div class="p-6">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Goorse jongens</h1>
                <p class="leading-relaxed mb-3">Wij zijn Robbert, Robert en Marco. 3 levenslange vrienden uit Goor</p>
                <p>met een passie voor bier, die al zo'n 8 jaar hobbybrouwen. </p>
                <p>En nu doen we mee met de vetste brouwwedstrijd van Nederland, </p>
                <p><a href="https://www.berghoevebrouwerij.nl/de-brouwerij/berghoeve-brouwers-challenge/"
                    class="font-bold text-indigo-500 underline" target="_blank">

                    de Berghoeve Brouwers challenge!
                    <img src="assets/images/beer-cap.svg" alt="Beer cap" class="inline-block mr-2 w-10 h-10" />
                  </a>
                </p>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-2 pl-4">Scroll voor meer!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="page page2" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">De strijd!</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Topbrouwers!</span>
            <p>Wij gaan de strijd aan met 2 andere teams! Samen met de topbrouwers van Berghoeve, </p>
            <p>hebben wij 700L van ons beste bier gebruowen!</p>
            <p></p>
          </a>
          <a>
            <p>Het is een heerlijke breakfast stout geworden. </p>
            <p>Vol van smaak door de vele granen en een toegankelijke 7,5% </p>
            <p>met een vleugje vanille en frisse blauwe bessen!</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Verkopen en winnen!</span>
            <p>Het team welke het meeste verkoopt, </p>
            <p>het beste scoort op <a href="https://untappd.com/b/berghoeve-brouwerij-good-morning-uut-nham/5936451/"
                target="_blank"><span class="font-bold text-orange-600 underline">Untappd </span> <img
                  src="assets/images/UNTAPPDLOGO-1.webp" class="inline-block w-6 h-6" /></a> en bij de vakjury,
              <p>wint de wedstrijd!</p>
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-72 md:h-40  w-full object-cover object-center" src="assets/images/storting.jpg" alt="blog">
        </div>
      </div>
    </section>
  </section>
  <section class="page page3" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Waar strijden we voor dan?</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Het goede doel!</span>
            <p>Deel van de opbrengst gaat naar een goed doel, hoe vet is dat!? </p>
            <p>Wij strijden voor <a href="https://www.haarwensen.nl/" target="_blank"
                class="font-bold text-indigo-500 underline">Stichting Haarwensen</a>.</p>
            <p>Zij maken haarstukjes voor kinderen die door ziekte of behandeling hun haar verliezen.</p>
            <p>En dat is natuurlijk een prachtig doel!</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">De gave ervaring!</span>
            <p>Wij mogen brouwen samen met de Berghoeve brouwers!</p>
            <p>De makers van de beruchte Zwarte Snorre!</p>
            <p>Eén van onze favoriete stouts!</p>
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-72 md:h-40  w-full object-cover object-center" src="assets/images/gisting1.jpg" alt="blog">
        </div>
      </div>
    </section>
  </section>

  <section class="page page4" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Gaaf! Kan ik al bestellen??</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>

            <p>
              <span
                class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                  class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Ja! Het bier is gebrouwen en de flessen zijn gevuld!
            </p>
            <p>Je kunt ons heerlijke bier, <span class="font-bold text-red-800">Good Morning uut 'nHam </span></p>
            <p>Nu bestellen op <a href="https://www.berghoevebrouwerij.nl/product/good-morning-uut-nham/"
                target="_blank" class="font-bold text-indigo-500 underline">de Berghoeve Webshop!</a> </p>
          </a>
          <a>
            <div class="h-full rounded-lg overflow-hidden pb-5">
              <button class="signup-button"
                onclick="window.open('https://www.berghoevebrouwerij.nl/product/good-morning-uut-nham/', '_blank')">
                Bestel hier!
              </button>
            </div>
            <p class="mb-5">Of check <a href="https://untappd.com/b/berghoeve-brouwerij-good-morning-uut-nham/5936451/"
                target="_blank"><span class="font-bold text-orange-600 underline">Untappd! </span> <img
                  src="assets/images/UNTAPPDLOGO-1.webp" class="inline-block w-6 h-6" /></a> </p>
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-72 md:h-40  w-full object-cover object-center" src="assets/images/gisting.jpg" alt="blog">
        </div>
      </div>
    </section>
  </section>


</div>

<div class="flex justify-center mb-10 nav-container ">
  <div *ngIf="(!isAtLastPage && !isAtBottom)" class="nav-button blob" (click)="navigateTo('next')">
    <i class="pi pi-angle-double-down"></i>
  </div>
  <div *ngIf="false" class="nav-button blob" (click)="navigateTo('prev')">
    <i class="pi pi-angle-double-up"></i>
  </div>
  <div class="flex items-center flex-wrap " *ngIf="isAtLastPage || isAtBottom">
    <div class="nav-button blob" (click)="navigateTo('start')">
      <i class="pi pi-angle-double-up"></i>
    </div>
  </div>
</div>