<!-- app.component.html -->
<div class="scroll-container">
  <section class="page page1" #page>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-5 flex-col items-center text-center">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Wie zijn de Goorse Jongens?</h1>          
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 ">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <img class="lg:h-52 md:h-48 w-full object-cover object-center" src="assets/images/IMG_7978.jpg"
                alt="blog">
              <div class="p-6">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Goorse jongens</h1>
                <p class="leading-relaxed mb-3">Wij zijn Robbert, Robert en Marco. 3 levenslange vrienden uit Goor</p> 
                <p>met een passie voor bier, die al zo'n 8 jaar hobbybrouwen. </p>
                <p>En nu doen we mee met de vetste brouwwedstrijd van Nederland, de Berghoeve Brouwers challenge!</p>
                <p>
                  <a href="https://www.berghoevebrouwerij.nl/de-brouwerij/berghoeve-brouwers-challenge/"
                    target="_blank">
                    <img src="assets/images/beer-cap.svg" alt="Beer cap" class="inline-block mr-2 w-10 h-10" /></a>
                  Check
                  <a href="https://www.berghoevebrouwerij.nl/de-brouwerij/berghoeve-brouwers-challenge/"
                    class="font-bold text-red-800" target="_blank">hier</a> voor meer info over de wedstrijd!
                </p>
                <div class="flex items-center flex-wrap ">

                  <div (click)="navigateTo('next')"
                    class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 cursor-pointer">
                    <i class="pi pi-angle-double-down"></i>
                  </div>

                  <h2 class="text-lg text-gray-900 font-medium title-font mb-2 pl-4">Scroll voor meer!</h2>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="page page2" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">De strijd!</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Topbrouwers!</span>
            <p>Wij gaan de strijd aan met 2 andere teams, door samen met de topbrouwers van Berghoeve,</p>
            <p>700 liter van een door ons ontworpen bier brouwen.</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Stout!</span>
            <p>Hiervoor gaan wij voor jullie </p>
            <p>een heerlijk volle breakfast stout brouwen met een vleugje vanille en frisse blauwe bessen!</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Verkopen en winnen!</span>            
            <p>Het team welke de meeste opbrengst ophaalt met de verkoop, </p>
            <p>gemiddeld de hoogste score haalt op Untappd <img src="assets/images/UNTAPPDLOGO-1.webp" class="inline-block w-6 h-6"/> en als beste wordt verkozen door de vakjury, </p>
            <p>wint de wedstrijd!</p>
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7982.jpg" alt="blog">
        </div>


      </div>
    </section>
  </section>
  <section class="page page3" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Waar strijden we voor dan?</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">De gave ervaring!</span>
            <p>Wij mogen brouwen samen met .</p>
            <p>de makers van de beruchte Zwarte Snorre!</p>
            <p>een van onze favoriete stouts!</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Het goede doel!</span>
            <p>Deel van de opbrengst gaat naar een goed doel naar keuze, hoe vet is dat!? </p>
            <p>Wij strijden voor <a href="https://www.haarwensen.nl/" target="_blank" class="font-bold text-red-800">Stichting Haarwensen</a>.</p>
            <p>Zij maken pruiken voor kinderen die door ziekte hun haar verliezen.</p>
            <p>En dat is natuurlijk een prachtig doel!</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Eeuwige roem!</span>
            <p>Als we winnen mogen wij ons in het illustere rijtje plaatsen </p>
            <p>van Berghoeve Brouwers Challenge Winnaars!</p>
            <p>Dat is nog beter dan zo'n groen jasje bij een golf tournooi!</p>
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7982.jpg" alt="blog">
        </div>


      </div>
    </section>
  </section>
  <section class="page page4" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Ons Bier!</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">Van
          alles! Vaak met een twist!</h2>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-6 h-6 mr-2 rounded-full inline-flex items-center justify-center">
              <a href="https://untappd.com/b/brouwerij-de-aap-the-power-of-the-dark-side/4658534" target="_blank"><img
                  src="assets/images/UNTAPPDLOGO-1.webp" /></a>
            </span><span class="font-bold text-red-800">The Power of the Dark Side</span> - Imperial stout met vanille
            en blauwe
            bessen! Winnaar brouwwedstrijd Goor 2022!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-6 h-6 mr-2 rounded-full inline-flex items-center justify-center">
              <a href="https://untappd.com/b/brouwerij-de-aap-taste-no-evil/3848539" target="_blank">
                <img src="assets/images/UNTAPPDLOGO-1.webp" /></a>
            </span><span class="font-bold text-red-800">Taste no Evil</span>- een Dikke, kruidige tripel! Ons eerste
            huurbrouw
            avontuur!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-6 h-4 mr-6 rounded-full inline-flex items-center justify-center">
              <a href="https://untappd.com/b/brouwerij-de-aap-presidents-of-the-u-s-ape-peaches/5260639"
                target="_blank">
                <img src="assets/images/UNTAPPDLOGO-1.webp" /></a>
            </span><span class="font-bold text-red-800">Presidents of the U.S.Ape!</span> - een heerlijke frisse
            gose
            met een hintje perzik!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">

            </span>En nog veel meer....
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7967.jpg" alt="blog">
        </div>


      </div>
    </section>
  </section>
  <section class="page page5" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">En uitstraling...</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">Vonden we
          belangrijk toch?!</h2>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Zo hebben wij onze eigen <span class="font-bold text-red-800">label artist Maarten!</span> Een goede
            kennis, en minstens net zo grote bierliefhebber die het heerlijk vindt om voor ons de meest gave artwork te
            maken!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>En hebben we onze <span class="font-bold text-red-800">eigen custom doppen!</span> Een mooie dop
            maakt de fles echt af. Ook nog eens erg gewild in de collectors scene!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Merchandise!</span> Bij een mooi werk hoort mooie swag!
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7973.jpg" alt="blog">
        </div>


      </div>
    </section>
  </section>
  <section class="page page6" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Verkopen...</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">Hebben we
          eerder gedaan...</h2>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>We hebben <span class="font-bold text-red-800">100L tripel gehuurbrouwen</span> en deze zelf verkocht
            om geld op te halen voor een automatische brouwketel!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Het grootste deel hebben we zelf <span class="font-bold text-red-800">online verkocht</span> aan
            vrienden bekenden, en online fans! Check onze <a class="text-cyan-700 font-bold" target="_blank"
              href="https://www.cognitoforms.com/BrouwerijDeAap/BrouwerijDeAapSponsoractiearchived">(verlopen)
              sponsoractie!</a>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Ons bier heeft <span class="font-bold text-red-800">3 keer bij de locale Mitra gelegen</span>. 2 keer
            door het winnen van de brouwwedstrijd, 1 keer vanuit eigen huurbrouw.
          </a>

        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7976.jpg" alt="blog">
        </div>


      </div>
    </section>
  </section>
  <section class="page page7" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">En 700 liter?</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">Hebben we
          ook wel ideeën voor....</h2>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Uiteraard onze huisslijter <span class="font-bold text-red-800">Mitra Voortman</span> en ons
            stam-biercafé <span class="font-bold text-red-800">d'Olde Smidse!</span>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Ook hebben we goede contacten met <span class="font-bold text-red-800">chef Mitra Nederland</span>.
            Hij heeft ons eerder aangeboden om ons bier in heel NL te leveren!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>En uiteraard zullen we alles weer optuigen om <span class="font-bold text-red-800">ons volledige
              netwerk</span> van bier te voorzien. Die moeten inmiddels wel weer erg veel dorst hebben, dat is inmiddels
            namelijk al weer een paar jaar geleden!
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><a>
              Denk ook aan netwerken in onze eigen omgeving, bijvoorbeeld aan <span class="font-bold text-red-800">een
                groot ICT bedrijf in Deventer</span> waar zowel 1 van de brouwers als onze label artist werken. Daar
              wemelt het van de bierliefhebbers en verwachten we dus veel te kunnen slijten! Zeker als er een goed doel
              bij komt kijken!
            </a>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><a>
              En meer! laat de creativiteit maar stromen!
            </a>
          </a>
        </nav>


      </div>
    </section>
  </section>
  <section class="page page8" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Waarom...</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">...willen
          wij dit zo graag in 1 zin?</h2>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Robbert: </span><span>Ik sta 100% achter elk bier wat we
              brouwen, en ik zou het leuk vinden als meer mensen dit konden proeven!</span>
          </a>

          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Robert: </span><span>Dit is voor mij de meest logische
              vervolgstap die we kunnen maken in alles wat we al gedaan hebben, en we hier zoveel schik in hebben dat we
              het graag een hobby willen houden.</span>
          </a>

          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Marco: </span> <span>Ik heb altijd al voor een goed doel willen
              brouwen met onze hobby, toen ik dit in jullie challenge las was ik verkocht!</span>
          </a>


        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7972.jpg" alt="blog">
        </div>


      </div>
    </section>
  </section>
  <section class="page page9" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">En daarom....</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">Denken
          wij dat de Aap de perfecte kandidaat is voor de Berghoeve Brouwers Challenge!</h2>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 ">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <img class="lg:h-52 md:h-48 w-full object-cover object-center" src="assets/images/IMG_7984.jpg"
                alt="blog">
              <div class="p-6">
                <p class="leading-relaxed mb-3">We kijken er erg naar uit om dit met jullie te bespreken! Tot snel!</p>
                <div class="flex items-center flex-wrap ">

                  <div
                    class="w-10 h-10 cursor-pointer inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
                    <i class="pi pi-angle-double-up" (click)="navigateTo('start')"></i>
                  </div>

                  <h2 class="text-lg text-gray-900 font-medium title-font mb-2 pl-4">Terug naar start!</h2>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
  </section>
</div>

<div class="flex justify-end mb-2 ml-2">
  <div
    class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 cursor-pointer">
    <i class="pi pi-angle-double-down" (click)="navigateTo('next')"></i>
  </div>
  <div
    class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 cursor-pointer">
    <i class="pi pi-angle-double-up" (click)="navigateTo('prev')"></i>
  </div>
</div>