<!-- app.component.html -->
<div class="scroll-container">
  <section class="page page1" #page>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-5 flex-col items-center text-center">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Wie zijn de Goorse Jongens?</h1>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 ">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              <img class="lg:h-52 md:h-48 w-full object-cover object-center" src="assets/images/IMG_7978.jpg"
                alt="blog">
              <div class="p-6">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Goorse jongens</h1>
                <p class="leading-relaxed mb-3">Wij zijn Robbert, Robert en Marco. 3 levenslange vrienden uit Goor</p>
                <p>met een passie voor bier, die al zo'n 8 jaar hobbybrouwen. </p>
                <p>En nu doen we mee met de vetste brouwwedstrijd van Nederland, </p>
                <p><a href="https://www.berghoevebrouwerij.nl/de-brouwerij/berghoeve-brouwers-challenge/"
                    class="font-bold text-indigo-500 underline" target="_blank">

                    de Berghoeve Brouwers challenge!
                    <img src="assets/images/beer-cap.svg" alt="Beer cap" class="inline-block mr-2 w-10 h-10" />
                  </a>
                </p>

                <div class="flex items-center flex-wrap ">

                  <div (click)="navigateTo('next')"
                    class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 cursor-pointer">
                    <i class="pi pi-angle-double-down"></i>
                  </div>

                  <h2 class="text-lg text-gray-900 font-medium title-font mb-2 pl-4">Scroll voor meer!</h2>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="page page2" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">De strijd!</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Topbrouwers!</span>
            <p>Wij gaan de strijd aan met 2 andere teams! Samen met de topbrouwers van Berghoeve, </p>
            <p>brouwen wij 700L van ons beste bier!</p>
            <p></p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Beste Stout ooit!</span>
            <p>Hiervoor gaan wij voor jullie een heerlijke breakfast stout brouwen </p>
            <p>met een vleugje vanille en frisse blauwe bessen!</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Verkopen en winnen!</span>
            <p>Het team welke het meeste verkoopt, </p>
            <p>het beste scoort op Untappd en bij de vakjury,<img src="assets/images/UNTAPPDLOGO-1.webp"
                class="inline-block w-6 h-6" />
              <p>wint de wedstrijd!</p>
          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7982.jpg" alt="blog">
        </div>

        <div class="flex justify-center">
          <div class="blob blue opacity-50 cursor-pointer" (click)="navigateTo('next')">
            <i class="fas fa-chevron-down text-black"></i>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="page page3" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Waar strijden we voor dan?</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">De gave ervaring!</span>
            <p>Wij mogen brouwen samen met de Berghoeve brouwers!</p>
            <p>De makers van de beruchte Zwarte Snorre!</p>
            <p>Eén van onze favoriete stouts!</p>
          </a>
          <a>
            <span
              class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span><span class="font-bold text-red-800">Het goede doel!</span>
            <p>Deel van de opbrengst gaat naar een goed doel, hoe vet is dat!? </p>
            <p>Wij strijden voor <a href="https://www.haarwensen.nl/" target="_blank"
                class="font-bold text-indigo-500 underline">Stichting Haarwensen</a>.</p>
            <p>Zij maken pruiken voor kinderen die door ziekte hun haar verliezen.</p>
            <p>En dat is natuurlijk een prachtig doel!</p>
          </a>

        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7968.jpg" alt="blog">
        </div>

        <div class="flex justify-center">
          <div class="blob blue opacity-50 cursor-pointer" (click)="navigateTo('next')">
            <i class="fas fa-chevron-down text-black"></i>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="page page4" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Gaaf! Kan ik al bestellen??</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <nav class="flex flex-col sm:items-start sm:text-left text-center items-center -mb-1 space-y-2.5">
          <a>

            <p>
              <span
                class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                  class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>
              Even geduld nog! 25 Juni hebben we gebrouwen...
            </p>
            <p>De gist is nu druk zijn werk aan het doen!</p>
            <p>Rond <span class="font-bold text-red-800">[DATUM]</span> is het klaar, en beginnen we met de verkoop!</p>
          </a>
          <a>

            <p>

              <span
                class="bg-indigo-100 text-indigo-500 w-4 h-4 mr-2 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                  class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Wil jij nou als <span class="font-bold text-red-800">eerste </span>op de hoogte zijn
            </p>
            <p><span class="font-bold text-red-800">Wanneer</span> ons bier klaar is en waar je het kunt krijgen?</p>
            <p><span class="font-bold text-red-800">Scroll</span> dan nog 1 keer verder en meld je aan!</p>

          </a>
        </nav>
        <div class="h-full border-2 mt-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-32 md:h-40  w-full object-cover object-center" src="assets/images/IMG_7967.jpg" alt="blog">
        </div>

        <div class="flex justify-center">
          <div class="blob blue opacity-50 cursor-pointer" (click)="navigateTo('next')">
            <i class="fas fa-chevron-down text-black"></i>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="page page5" #page>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-6">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Goorse Jongens!</h1>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
          </div>
        </div>
        <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center sm:text-left">
          Help ons deze fantastische wedstrijd te winnen!</h2>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 w-full">
            <div class="h-full rounded-lg overflow-hidden">
              <button class="w-full mt-4 bg-indigo-500 text-white font-bold py-2 px-4 rounded"
                onclick="window.open('https://www.cognitoforms.com/BrouwerijDeAap/GoorseJongensNieuws', '_blank')">
                Meld je aan!
              </button>
              <img class="lg:h-80 md:h-48 w-full object-cover object-center" src="assets/images/goorsejongenslogo.png"
                alt="blog">
              <div class="p-1">

                <div class="flex items-center flex-wrap ">

                  <div
                    class="w-10 h-10 cursor-pointer inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
                    <i class="pi pi-angle-double-up" (click)="navigateTo('start')"></i>
                  </div>

                  <h2 class="text-lg text-gray-900 font-medium title-font mb-2 pl-4">Terug naar start!</h2>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
  </section>
</div>

<div class="flex justify-end mb-2 ml-2">
  <div
    class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 cursor-pointer">
    <i class="pi pi-angle-double-down" (click)="navigateTo('next')"></i>
  </div>
  <div
    class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4 cursor-pointer">
    <i class="pi pi-angle-double-up" (click)="navigateTo('prev')"></i>
  </div>
</div>